
 /*==============================ALL FOR HOMEPAGE =============================================*/

 /*HomePage carousel*/
 .carousel-inner img{
    width: 100%;
    height: 100%;
}

/*HomePage buttom Row*/
.buttomrow{
  background-color: rgb(41, 40, 40);
  color: white;

}
/*HomePage button 3 R's */
.container-center .btnR{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -ms-transform:translate(-50%,-50%);
    font-size:30px;
    cursor:pointer;
    text-align:center;
    background-color: transparent;
    font-family: monospace;
}
.container-center .btnR:hover{
  background-color: rgb(41, 40, 40);
}

.jumpstart{
  text-align: center;
}






/* ========================ALL FOR ABOUTPAGE==================================== */
body,html{
    height: 100%;
    margin:0;
    background: transparent;
}

.aboutbg{
  background-image: url("cal8.jpg");
  height:90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.me{
  width: 20%;
  height: 100%;
}

/* ==================================================ALL FOR GALLERY ===================================================*/

.jumbotron{
  text-align: center;
}

.ClickBtn{
  text-align: center;
}

/*FILTER DIVISIONS*/
.filterDiv {
  float: left;
  background-color: grey;
  color: grey;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

/* Styles for Ministry buttons */
.ministrybtn{
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.ministrybtn:hover{
  background-color: rgb(41, 40, 40);
}
.ministrybtn.active{
  background-color: rgb(41, 40, 40);
  color: white;
}

.container .ForImages{
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}


/*===============================IMAGE FILTERING====================================================================*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}


/*===============================================ALL FOR PORTFOLIO =================================================*/
.portfoliobg{
  background-image: url("contactbackground.jpg");
  height:90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}




/*===================================================ALL FOR CONTACT================================================*/

.contactbg{
  background-image: url("contactbackground.jpg");
  height:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactMe{
  text-align: center;
  font-size: 70px;
  color: white;
}

.formtrans{
  background: transparent;
}

.row{
  text-align: center;
}

.wrap{
  background: transparent;
}

.signUpbutton{
  background: transparent;

}

.avatar{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}